*{
				margin: 0;
				padding: 0;
}
body{
				background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
				background-image: url('../images/background1.jpg');
				background-size: cover;
				background-repeat: no-repeat;
}
html{
				scroll-behavior: smooth;
}
.logo{
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 5px;
}
.logo img{
				width: 34%;
}
.navbar{
				z-index: 1;
				display: flex;
				margin: 20px;
				font-family: 'Lato', sans-serif;
				font-size: 22px;
				border-radius: 20px;
				position: sticky;
				top: 0px;
				background: rgba( 255, 255, 255, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4.5px );
				-webkit-backdrop-filter: blur( 4.5px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.logo-resp{
				display: none;
				z-index: 2;
				align-items: center;
				justify-content: center;
				vertical-align: middle;
				position: absolute;
				height: 60px;
				/*top: 10px;*/
				width: auto;
				margin: auto;
}
.logo-resp h1{
				font-family: 'Koulen', cursive;
				font-size: 25px;
				color: #40b93a;
				-webkit-text-stroke: 1px #00004b;
				letter-spacing: 1px;
				position: sticky;
}
.nav-list{
				display: flex;
				align-items: center;
}
.nav-list li{
				list-style: none;
				padding: 10px 20px;
}
.nav-list li a{
				text-decoration: none;
				color: black;
				padding: 10px;
				border-radius: 10px;
}
/*.nav-list li a:hover{
				background-color: #fff007;
  color: black;*/
}
.nav-list li a:active{
				background-color: #5fc054;
				color: white;
}
.section1{
				display: flex;
				height: 500px;
				margin: 20px;
				border-radius: 20px;
				justify-content: center;
				background: rgba( 255, 255, 255, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 5px );
				-webkit-backdrop-filter: blur( 5px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.mainBox{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
}
.section1 .mainBox .title{
				display: flex;
				font-size: 90px;
				color: #40b93a;
				-webkit-text-stroke: 5px #00004b;
				text-align: center;
				font-family: 'Koulen', cursive;
				line-height: 78px;
				padding: 5px;
}
.section1 .mainBox .tagLine{
				display: flex;
				color: black;
				font-size: 1.7rem;
				text-shadow: 2px 2x 3px #51bc50;
				font-family: 'Montserrat', sans-serif;
				text-align: center;
}
.section2{
				width: 100%;
				height: 350px;
				justify-content: center;
				background-image: url('../images/background4.jpg');
				background-size: cover;
				padding-top: 5px;
}
.section2 .heading1 {
				color: #0368c2;
				padding: 2px;
				margin: 20px 20px;
				border-radius: 10px;
				font-family: 'Koulen', cursive;
				font-size: 20px;
				background: rgba( 255, 255, 255, 0.4 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section2 .heading1 .title{
				text-align: center;
				border-radius: 20px;
				margin: auto;
}
.section2 .list ul{
				display: flex;
				justify-content: left;
				align-items: left;
				flex-direction: column;
				margin: 30px 20px;
				width: 15%;
				text-align: center;
				padding: 0px 30px;
}
.section2 .list ul li{
				list-style: none;
				padding: 2px 2px;
				margin: 6px 0;
				width: auto;
				border-radius: 10px;
				background: rgba( 255, 255, 255, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section2 .list ul li a{
				text-decoration: none;
				color: #fb9101;
				font-weight: bold;
				margin: 3px;
}
.section2 .notice{
				display: flex;
				justify-content: center;
				align-items: center;
				margin: auto;
				width: 40%;
				padding: 3px;
				border-radius: 10px;
				background: rgba( 233, 18, 18, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section3{
				display: flex;
				height: 900px;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				background-image: url('../images/background6.jpg');
				background-size: cover;
}
.section3 .heading2{
				display: flex;
				width: 96%;
				justify-content: center;
				margin: auto;
				margin-top: 25px;
				font-size: 20px;
				font-family: 'Koulen', cursive;
				border-radius: 10px;
				color: #0368c2;
				background: rgba( 255, 255, 255, 0.4 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section3 .form{
				display: flex;
				background-color: gold;
				position: relative;
				flex-direction: column;
				margin-bottom: 2%;
				width: 80%;
				padding: 8px;
				border-radius: 20px;
				background: rgba( 246, 243, 240, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section3 input{
				margin: 4px auto;
				width: 95%;
				height: 40px;
				align-items: center;
				padding: 1px;
				border-radius: 10px;
				background: rgba( 252, 149, 0, 0.45 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 15px );
				-webkit-backdrop-filter: blur( 15px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section3 form textarea{
				width: 95%;
				margin: 4px auto;
				padding: 2px;
				border-radius: 10px;
				background: rgba( 252, 149, 0, 0.45 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 15px );
				-webkit-backdrop-filter: blur( 15px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
input[type=submit]{
				width: 30%;
				margin: 4px auto;
				background: rgba( 95, 192, 84, 0.85 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section4{
				background-image: url('../images/background5.jpg');
				display: flex;
				justify-content: center;
				height: 400px;
				flex-direction: column;
				background-size: cover;
}
.section4 .heading3{
				display: flex;
				margin: auto;
				margin-top: 1.5vh;
				width: 96vw;
				justify-content: center;
				color: #0368c2;
				border-radius: 10px;
				font-family: 'Koulen', cursive;
				font-size: 20px;
				background: rgba( 255, 255, 255, 0.4 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.section4 .info p{
				display: flex;
				margin: 0px 20px;
				margin-top: -280px;
				font-size: 1.5em;
				font-family: 'Lato', sans-serif;
				padding: 2%;
				border-radius: 10px;
				background: rgba( 255, 255, 255, 0.4 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.burger{
				display: none;
				position: absolute;
				right: 5%;
				top: 15px;
				cursor: pointer;
}
.line{
				width: 33px;
				background-color: black;
				height: 4px;
				margin: 4px 3px;
				transition: all 0.3s ease-in-out;
}
.background{
				display: flex;
				width: 100%;
				height: 100px;
				justify-content: center;
				align-items: center;
				background-color: black;				
}
.background .text-footer{
				color: white;
				text-align: cente	px, -8px);
}
.clicked .bar1 {
  transform: translate(5px, 10px) rotate(-45deg);
}
.clicked .bar2 {
  transform: translateX(100px);
  background: transparent;
}
.clicked .bar3 {
  transform: translate(5px, -6px) rotate(45deg);
}
@media only screen and (max-width: 823px){
				.section2{
								height: 450px;
				}
				.section2 .list ul{
								width: auto;
				}
				.navbar .nav-list .logo{
								display: none;
				}
				.logo-resp{
								display: flex;
				}
				.navbar{
								height: 320px;
								justify-content: center;
								transition: all 0.3s ease-out;
				}
				.nav-list{
								margin-top: 20px;
								flex-direction: column;
								justify-content: center;
								transition: all 0.3s ease-in-out;
				}
				.logo{
								width: 50%;
				}
				.burger{
								display: block;
				}
				.h-nav-resp{
								height: 60px;
				}
				.v-class-resp{
								opacity: 0;
				}
				.section3 .list2 ul li{
								margin: 0 8px;
				}
}
