*{
				margin: 0;
				padding: 0;
}
body{
				background-color: white;
				transition: all 0.3s ease-in-out;
}
.container{
    margin: 10px;
}
.top{
    display: flex;
    flex-direction: row;
}
.head1{
    width: 90%;
}
.head2{
    
}
.light-mode{
background: #D1D8EC;
-webkit-box-shadow: 10px 10px 17px #969caa, -10px -10px 17px #ffffff;
box-shadow: 10px 10px 17px #969caa, -10px -10px 17px #ffffff;
}
#darkMode-btn{
    cursor: pointer;
    color: black;
    font-weight: bold;
    width: 10%;
    margin: 40px 10px;
    margin-left: -5px;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

.DM-btn-bg{
    background-color: red;
    border-radius: 10px;
}
button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
h1{
				color: black;
				letter-spacing: 1px;
				padding: 15px;
				margin: 15px 2%;
				border-radius: 10px;
				text-align: center;
}
h2{
				color: green;
				border-radius: 10px;
				margin: 40px 2%;
				padding: 15px;
}
p{
				margin: 2%;
				margin-bottom: 20px;
				border-radius: 10px;
				padding: 15px;
				color: black;
				font-family: 'Ubuntu', sans-serif;
				font-size: 20px;
}
img{
				display: flex;
				margin: 5px 2%;
				border-radius: 10px;
				justify-content: center;
				align-items: center;
				margin: auto;
				width: 40%;
				height: 40%;
}
.download{
				display: flex;
				text-decoration: none;
				border-radius: 10px;
				color: deepskyblue;
				cursor: pointer;
				margin: auto;
				padding: 10px;
				width: 25%;
				justify-content: center;
				align-items: center;
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 150%;
				font-family: 'Koulen', cursive;
}
.steps{
                margin-top: -10%;
                margin-left: 50px;
                align-items: center;
                border-radius: 10px;
				padding: 15px;
				color: black;
				font-family: 'Ubuntu', sans-serif;
				font-size: 20px;
}
a{
    overflow-wrap: break-word;
    color: deepskyblue;
}
@media only screen and (max-width: 823px){
    .top{
        flex-direction: column;
        width: 100%;
    }
    .head1{
        width: auto;
    }
    #darkMode-btn{
        width: 80%;
        margin: 2px auto;
        margin-bottom: 30px
    }
}

::-moz-selection { /* Code for Firefox */
  color: greenyellow;
  background: deepskyblue;
}

::selection {
  color: greenyellow;
  background: deepskyblue;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}
