*{
				margin: 0px;
				padding: 0px;
}
body{
				background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
				background-image: url('../images/background7.jpg');
				background-size: cover;
}
.navbar{
				display: flex;
				flex-direction: row;
				z-index: 1;
				margin: 2%;
				border-radius: 15px;
				height: 70px;
				font-family: 'Lato', sans-serif;
				background: rgba( 255, 255, 255, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4.5px );
				-webkit-backdrop-filter: blur( 4.5px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navbar .left-navbar{
				display: flex;
				flex-direction: row;
				width: 55%;
				align-items: center;
}
.navbar .left-navbar .logo{
				display: flex;
				width: 15%;
				height: 60px;
				margin: 24px 10px;
				justify-content: center;
				align-items: center;
				padding: 2px;
}
.navbar .left-navbar .logo img{
				width: 80%;
				border: 1px solid white;
				border-radius: 40px;
}
.navbar .left-navbar .nav-item{
				margin: 5px;
				margin-left: 15px;
}
.navbar .left-navbar .nav-item a{
				text-decoration: none;
				font-size: 22px;
				color: black;
}
.nav-list{
				display: flex;
				align-items: center;
}
.nav-list li{
				list-style: none;
				padding: 10px 20px;
}
.nav-list li a{
				text-decoration: none;
				color: black;
				padding: 10px;
				border-radius: 10px;
}
.navbar .right-navbar{
				display: flex;
				align-items: center;
				padding-left: 12%;
}
.navbar .right-navbar input[type=search]{
				height: 35px;
				padding: 3px;
				border-radius: 10px;
}
.navbar .right-navbar .search-btn{
				margin-left: 8px;
				height: 30px;
				width: 75px;
				background: rgba( 95, 192, 84, 0.85 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
header{
				height: 500px;
				margin: 2%;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-size: cover;
				background: rgba( 255, 255, 255, 0.35 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 5px );
				-webkit-backdrop-filter: blur( 5px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
header h1{
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 400%;
				color: #40b93a;
				-webkit-text-stroke: 5px #00004b;
				font-family: 'Koulen', cursive;
				text-shadow: 8px 8px 2px #00004b;
}
header h2{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 90px;
				width: 40%;
				margin: 30px;
				position: relative;
				color: #5582ff;
				-webkit-text-stroke: 1px #55ffff;
				top: -50px;
				font-size: 400%;
				font-family: 'Koulen', cursive;
				font-weight: bold;
				text-shadow: 6px 6px 0px #55ffff;
				border: 10px solid #fff007;
				border-radius: 20px;
				box-shadow: 8px 8px 2px #00004b;
}
header .tagline{
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				color: #00004b;
				top: -70px;
				letter-spacing: 3px;
				word-spacing: 8px;
				font-size: 180%;
				font-family: 'Montserrat', sans-serif;
				margin-top: 10px;
}
.articles{
				height: 570px;
				display: grid;
				justify-content: center;
				grid-gap: 1rem;
				grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
				margin: 2%;
}
#latest-posts{
				display: grid;
				width: 40%;
				text-align: center;
				align-items: left;
				justify-content: center;
				align-items: center;
				height: 80px;
				padding: 5px;
				border-radius: 15px;
				font-family: 'Ubuntu', sans-serif;
				font-size: 200%;
				background: rgba( 255, 195, 0, 0.9 );
				box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
				backdrop-filter: blur( 4px );
				-webkit-backdrop-filter: blur( 4px );
				border-radius: 10px;
				border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/*#blog-2{
				
}*/
.articles div{
				display: grid;
				background-color: white;
				grid-gap: 10px;
				border-radius: 15px;
				grid-gap: 1px;
				height: 190px;
				margin: 0 8%;
				background: rgba( 255, 255, 255, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.articles .date{
				margin: 7px 0;
				margin-left: 4%;
				margin-top: 14px;
				color: #404040;
}
.articles .article-head{
				display: flex;
				margin: 4px 30px;
				margin-top: 2%;
				align-items: center;
				font-family: 'Ubuntu', sans-serif;
				font-size: 150%;
				font-weight: bold;
}
.articles .article-desc{
				display: flex;
				margin: 5px 30px;
				margin-top: 15px;
				align-items: center;
				font-family: 'Ubuntu', sans-serif;
}
.read-more{
				margin: 4px 30px;
				margin-top: 3%;
}
.read-more a{
				text-decoration: none;
}
.navbar .logo-resp{
				display: none;
				z-index: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				vertical-align: middle;
				width: auto;
				height: 60px;
				margin-top: 8px;
}
.navbar .logo-resp h1{
				display: none;
				font-family: 'Koulen', cursive;
				font-size: 25px;
				color: #40b93a;
				-webkit-text-stroke: 1px #00004b;
				letter-spacing: 1px;
}
.burger{
				display: none;
				position: absolute;
				top: 17px;
				right: 5%;
				cursor: pointer;
				z-index: 2;
}
.line{
				background-color: black;
				width: 30px;
				height: 4px;
				margin: 3px;
				transition: all 0.3s ease-in-out;
}
.clicked .bar1 {
  transform: translate(5px, 9px) rotate(-45deg);
}
.clicked .bar2 {
  transform: translateX(100px);
  background: transparent;
}
.clicked .bar3 {
  transform: translate(5px, -6px) rotate(45deg);
}
@media only screen and (min-width: 768px) and (max-width:950px){
				#blog-2{
								height: 250px;
				}
				.articles{
								height: 650px;
				}
}
@media only screen and (max-width: 768px){
				.navbar{
								flex-direction: column;
								height: 120px;
								transition: all 0.3s ease-out;
				}
				.navbar .logo-resp{
								display: flex;
				}
				.navbar .logo-resp h1{
								display: flex;
				}
				.navbar .left-navbar .logo{
								display: none;
				}
				.navbar .left-navbar{
								display: flex;
								justify-content: center;
								align-self: center;
								transition: all 0.3s ease-in-out;
				}
				.navbar .left-navbar .nav-item{
								display: flex;
								text-align: center;
								margin: auto;
				}
				.navbar .right-navbar{
								margin-top: 5%;
								transition: all 0.3s ease-in-out;
				}
				.burger{
								display: block;
				}
				#latest-posts{
								top: 620px;
								padding: 18px;
								padding-bottom: 35px;
				}
				#blog-2{
								height: 400px;
				}
				.articles{
								height: 1200px;
				}
				.articles div{
								height: 400px;
				}
				header h1{
								text-align: center;
								line-height: 60px;
				}
				header h2{
								margin-top: 60px;
				}
				.h-nav-resp{
								height: 60px;
				}
				.v-class-resp{
								opacity: 0;
				}
}
